<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meme website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <meta http-equiv="refresh" content="30;url=http://127.0.0.1:5000/" /> -->
    <style>
        h1 {
            font-size: 45px;
            font-weight: bolder;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: darkgoldenrod;
        }

        p {
            font-size: 30px;
            color: darkorange;
        }

        body {
            text-align: center;
            background-color: aquamarine;
        }
    </style>
</head>

<body>
    <h1>We steal memes 😇✌️</h1>
    <p>refresh for new meme</p>
    <p><img src="{{meme_pic}}" alt="check your internet"></p>
    <p>title: {{title}}</p>
</body>

</html>